@reference "../styles/index.css";

.projects_overlay {
    position: relative;
    overflow: hidden;
}

.projects_overlay>* {
    position: relative;
    z-index: 1;
}

@media (min-width: 768px) {

    .projects_overlay::after {
        content: "";
        position: absolute;
        top: -100%;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(to right,
                hsl(262 83% 58%),
                hsl(330 81% 60%));
        opacity: 0;
        transform-origin: top center;
        transition: all 0.3s ease-in-out;
        pointer-events: none;
        z-index: 0;
    }

    .projects_overlay:hover::after {
        opacity: 1;
        top: 0%;
    }
}

